{# vendor/symfony/symfony/src/Symfony/Bridge/Twig/Resources/views/Form #}
{%- block form_row -%}
    {#Se le introduce a la plantilla de formulario el diseño de la plantilla modern business#}
    <div class="control-group form-group">
        <div class="controls">
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock form_row -%}
{# Esta opción comentada es para poder añadir directamente nuevas categorías cuando se registran nuevos cafés#}
{#{% block _cafe_categorias_widget %}#}

    {#<div class="text_widget">#}
        {#{{ block('form_widget_simple') }}#}
        {#prueba#}
    {#</div>#}
    {#<div>#}
        {#{{ block('choice_widget') }}#}
        {#Nueva Categoria#}
        {#<input type="text" id="nuevaCat" name="" value="" >#}
        {#<button type="button" name="button" onclick="nuevaCatAdd()">+</button>#}
    {#</div>#}

{#{% endblock %}#}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {#Se incluye la etiqueta class form-control para darle diseño#}
    <input type="{{ type }}"
           class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if type=='file' %}
        <img id="cafeThumb" class="img-fluid" width="150px" src="" alt="">
    {% endif %}

{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{#Para modificar el botón de envio del formulario se modifica el button_widget y el submit_widget#}
{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is same as(false) -%}
            {% set translation_domain = false %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {#se le añade class="btn btn-primary"#}
    <button type="{{ type|default('button') }}"
            class="btn btn-primary" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}
