{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% form_theme formularioReserva 'form/cafeForm.html.twig' %}
{#TITULO#}
{% block titulo %}Nueva Reserva {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    {#Contenedor para poder darle estilos al formulario#}
    <div class="container">
        {#Título de la página#}
        <h1 class="mt-4 mb-3">Nueva Reserva</h1>
        {#Para aislarlo del título se envuelve el formulario en un class row#}
        <div class="row">
            <div class="col-md-8">
                {{ form_start(formularioReserva) }}
                {{ form_widget(formularioReserva) }}
                {{ form_end(formularioReserva) }}
             </div>
        </div>
    </div>
{% endblock %}
