footer#pe {
    margin-top: 10px;
    position: relative;
    /*bottom: 0;*/
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 0px;
    height: 100em;
    min-height: 100%;
}
