<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block titulo %}Cafés Mauro{% endblock %}</title>
    {# Bootstrap core CSS #}
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {# Custom styles for this template #}
    <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet">
    <link href="{{ asset('css/estilos.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {#Link para incorporar los iconos e fontawesome#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


</head>
<body>
<!-- Menú de navegación -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand font-italic " href="{{ path('homepage') }}"><h4>Cafés Mauro</h4></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('nosotros') }}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('listadoCategorias') }}">Cafés</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Contactar
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="{{ path('contactar',{'sitio':'central'}) }}">Central</a>
                        <a class="dropdown-item" href="{{ path('contactar',{'sitio':'ruaNova'}) }}">Rúa Nova</a>
                        <a class="dropdown-item" href="{{ path('contactar',{'sitio':'ruaFerrol'}) }}">Rúa Ferrol</a>
                    </div>
                </li>
                {#Si el usuario está logado la opción disponible en el menú será Salir,
                sinó será la de dirigirse a la página de login al pulsar en Reservas#}
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') -%}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Gestión</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="{{ path('nuevaCategoria') }}">Nueva Categoría</a>
                                <a class="dropdown-item" href="{{ path('edicionCategorias') }}">Editar Categorías</a>

                                <a class="dropdown-item" href="{{ path('nuevoCafe') }}">Nuevo Café</a>
                                <a class="dropdown-item" href="{{ path('edicionCafes') }}">Editar Cafés</a>
                                <a class="dropdown-item" href="{{ path('edicionReservas') }}">Editar Reservas</a>
                                <a class="dropdown-item" href="{{ path('edicionUsuarios') }}">Editar Usuarios</a>

                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Reservas</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="{{ path('nuevaReserva') }}">Nueva</a>
                                <a class="dropdown-item" href="{{ path('reservas') }}">Lista</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        {#El path logout se ha definido en routing.yml#}
                        <a class="nav-link" href="{{ path('logout') }}">Salir</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logado') }}">Usuarios</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- FIN Menú de navegación -->

{% block contenido %}{% endblock %}
<!-- Footer -->
<div class="float-none"></div>
<footer id="pe" class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Cafés Mauro 2018</p>
    </div>
    <!-- /.container -->
</footer>

{# Bootstrap core Javascript #}
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% block javascripts %} {% endblock %}
</body>
</html>
