{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{#Se usa el mismo template que definimos para los nuevos cafés#}
{% form_theme formularioUsuario 'form/cafeForm.html.twig' %}

{% block titulo %}Registro Usuario {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    {#Sacado de la página about de la plantilla#}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3"> Cafés Mauro
            <small>Edición de Usuario</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Edicion Datos Usuarios</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                {{ form_start(formularioUsuario) }}
                {{ form_widget(formularioUsuario) }}
                {{ form_end(formularioUsuario) }}
            </div>
        </div>

    </div>
{% endblock %}