{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{#TITULO#}
{% block titulo %}Listado de Usuarios {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    {#Contenedor para poder darle estilos al formulario#}
    <div class="container">
        {#Título de la página#}
        <h1 class="mt-4 mb-3">Listado de Usuarios</h1>
        {#Para aislarlo del título se envuelve el formulario en un class row#}
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <table class="table">
                    <thead class="thead-dark">
                    <tr style="text-align: center">
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">email</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set contador=0 %}
                    {% for usuario in usuarios %}
                        <tr style="text-align: center">
                            {% set contador=contador+1 %}
                            <th scope="row">{{ contador }}</th>
                            {#El campo de la fecha lo filtraremos con date para que muestre el formato deseado#}
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.email }}</td>
                            {#{{ dump(reserva) }}#}
                            {#{{ dump(reserva.usuario) }}#}
                            <td>{{ usuario.nombreCompleto }}</td>
                            <td>{{ usuario.telefono }}</td>

                            {#para que redireccione con el id la variable enviada se tiene que llamar id, no vale otro nombre#}
                            <td>
                                <a href="{{ path('edicionDatosUsuarios',{'id': usuario.id}) }}"><i class="fas fa-edit"
                                                                                            style="font-size: 130%"></i>
                                </a>
                            </td>
                            {#Al asignarle al onclick el return se ejecuta la función y devuelve lo que devuelva esta #}
                            <td><a href="#"
                                   onClick="return controlBorrado('{{ path('borrarUsuario',{'id': usuario.id }) }}')">
                                    <i class="far fa-trash-alt"
                                       style="font-size: 140%"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{ asset('js/controlBorrado.js') }}"></script>
{% endblock %}

