{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% form_theme formularioCategoria 'form/cafeForm.html.twig' %}
{#TITULO#}
{% block titulo %}Nueva Categoría {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    {#Contenedor para poder darle estilos al formulario#}
    <div class="container">
        {#Título de la página#}
        <h1 class="mt-4 mb-3">Nueva Categoría</h1>
        {#Para aislarlo del título se envuelve el formulario en un class row#}
        <div class="row">
            <div class="col-md-8">
                {{ form_start(formularioCategoria) }}
                {{ form_widget(formularioCategoria) }}
                {{ form_end(formularioCategoria) }}
             </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/nuevaImgCafe.js') }}"></script>
{% endblock %}
