{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% block titulo %}Cafés {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Datos del Café
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('listadoCategorias') }}">Categorías</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('todosNuestrosCafes') }}">Cafes</a>
            </li>
            <li class="breadcrumb-item active">Datos del Café</li>
        </ol>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-12 text-center">
                {#fotosCafes es el parámetro global definido en el config.yml con la ruta a la carpeta img/fotosCafes
                a esto se le concatena los datos en string guardados en la ddbb del nombre de la foto en md5#}
                <img class="img-fluid" src="{{ asset(fotosCafes~datosCafe.foto) }}" alt="">
            </div>

            <div class="col-md-12">
                <h2 class="my-4 text-primary">{{ datosCafe.nombre }}</h2>


                <div>
                        <h4 class="my-3">Categorías del café                        </h4>

                    {#{{ dump(datosCafe) }}#}
                            {% for categoria in datosCafe.categorias %}
                                {#{{ dump(categoria) }}#}

                                <a class="btn btn-primary m-1"
                                   href="{{ path('listadoCafes',{'categoria':categoria.id, 'nombreCategoria':categoria.nombre}) }}">{{ categoria.nombre }}</a>
                            {% endfor %}
                </div>

                <h4 class="my-3">Descripción</h4>

                <p>{{ datosCafe.descripcion|raw }}</p>
                <h4 class="my-3">Características</h4>
                <p>{{ datosCafe.caracteristicas|raw }}</p>
            </div>
            <div class="float-none"></div>
        </div>
    </div>
{% endblock %}