{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% block titulo %}Categorías {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Categorías
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Datos de la Categoría</li>
        </ol>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                {#fotosCafes es el parámetro global definido en el config.yml con la ruta a la carpeta img/fotosCafes
                a esto se le concatena los datos en string guardados en la ddbb del nombre de la foto en md5#}
                <img class="img-fluid" src="{{ asset(fotosCategorias~datosCategoria.foto) }}" alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">{{ datosCategoria.nombre }}</h3>
                <p>{{ datosCategoria.descripcion|raw }}</p>
            </div>

        </div>
    </div>
    <!-- /.container -->

{% endblock %}