{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% block titulo %} Cafés Mauro {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    <header>

    </header>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Cafés Mauro
            <small>Categorías</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Categorías</li>
        </ol>
        <!-- Image Header -->
        <!-- Portfolio Section -->
        {#Recorremos los datosCafes, que hemos enviado a la plantilla mediante el array llamado cafes, mediante un bucle for#}
        <div class="row">
            {% for categoria in datosCategorias %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        {#El href va a redireccionar al path definido con name en el DefaultController, y se le pasa como parámetro
                        el id del café seleccionado para que redirecione a la plantilla cafes.html.twig con ese parámetro y muestre sus datos#}
                        {#fotosCafes es el parámetro global definido en el config.yml con la ruta a la carpeta img/fotosCafes
               a esto se le concatena los datos en string guardados en la ddbb del nombre de la foto en md5#}
                        <a href="{{ path('categoria',{'id':categoria.id}) }}"><img class="card-img-top"
                                                                                   src={% if  categoria.foto|length>0 %}{{ asset(fotosCategorias~categoria.foto) }}{% else %}"http://placehold.it/700x400"{% endif %}
                                                                                   alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                {#Va a redireccionar tanto el nombre del café como su imagen#}
                                <a href="{{ path('listadoCafes',{'categoria':categoria.id, 'nombreCategoria':categoria.nombre}) }}">{{ categoria.nombre }}</a>
                            </h4>
                            <p class="card-text">{{ categoria.descripcion|raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.container -->
        {#{{ dump(numTotalPaginas) }}#}

        <!-- Paginacion -->
        {#Si el número de páginas no es mayor a 1 no se mostrará la paginación #}
        {% if numTotalPaginas>1 %}
            <ul class="pagination justify-content-center">
                {#Botón de Anterior#}
                {% if  paginaActual>1 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path ('listadoCategorias', {pagina:paginaActual-1<1?1:paginaActual-1} ) }}"
                           aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </li>
                {% endif %}
                {#Bucle que rellena el número de items con números de páginas de categorías que hay, cada página con 6 elementos#}
                {% for indice in 1..numTotalPaginas %}

                    {% if indice==paginaActual %}
                        <li class="page-item">
                            <a class="page-link font-weight-bold"
                               href="{{ path ('listadoCategorias', {pagina:indice} ) }}">{{ indice }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path ('listadoCategorias', {pagina:indice} ) }}">{{ indice }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {#Boton Siguiente#}
                {% if  paginaActual<numTotalPaginas %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path ('listadoCategorias', {pagina:paginaActual+1<=numTotalPaginas?paginaActual+1:paginaActual} ) }}"
                           aria-label="Siguiente">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
{% endblock %}