{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{#TITULO#}
{% block titulo %}Listado de Reservas {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    {#Contenedor para poder darle estilos al formulario#}
    <div class="container">
        {#Título de la página#}
        <h1 class="mt-4 mb-3">Listado de Reservas</h1>
        {#Para aislarlo del título se envuelve el formulario en un class row#}
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <table class="table">
                    <thead class="thead-dark">
                    <tr style="text-align: center">
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Num Asistentes</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set contador=0 %}
                    {% for reserva in reservas %}
                        <tr style="text-align: center">
                            {% set contador=contador+1 %}
                            <th scope="row">{{ contador }}</th>
                            {#El campo de la fecha lo filtraremos con date para que muestre el formato deseado#}
                            <td>{{ reserva.fecha|date('Y/m/d h:i') }}</td>
                            <td>{{ reserva.asistentes }}</td>
                            {#{{ dump(reserva) }}#}
                            {#{{ dump(reserva.usuario) }}#}
                            <td>{{ reserva.usuario.nombreCompleto }}</td>
                            <td>{{ reserva.usuario.telefono }}</td>

                            {#para que redireccione con el id la variable enviada se tiene que llamar id, no vale otro nombre#}
                            <td><a href="{{ path('nuevaReserva',{'id': reserva.id,'usuario': reserva.usuario.id }) }}"><i class="fas fa-edit"
                                                                                            style="font-size: 130%"></i></a>
                            </td>
                            {#Al asignarle al onclick el return se ejecuta la función y devuelve lo que devuelva esta #}
                            <td><a href="#"
                                   onClick="return controlBorrado('{{ path('borrarReserva',{'id': reserva.id }) }}','{{ reserva.fecha|date('Y/m/d h:i') }}')">
                                    <i class="far fa-trash-alt"
                                       style="font-size: 140%"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{ asset('js/controlBorrado.js') }}"></script>
{% endblock %}

