{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% block titulo %}Cafés {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
         <h1 class="mt-4 mb-3">Cafés Mauro
            <small>Nuestro Equipo</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('nosotros') }}">Nosotros</a>
            </li>
            <li class="breadcrumb-item active">Equipo</li>
        </ol>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-12 text-center">

                <img class="img-fluid" src="{{ asset( 'img/equipo.jpg') }}" alt="">
            </div>

            <div class="col-md-12">
                <h2 class="my-4 text-primary">Equipo</h2>
                <h4 class="my-3">Nuestro equipo multidisciplinar </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                    nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
                    omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
                    debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
                    maiores alias consequatur aut perferendis doloribus asperiores repellat
                </p>


            </div>
        </div>
    </div>
{% endblock %}