{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% block titulo %} Cafés Mauro {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    <header>

    </header>
    <div class="container">
        <!-- Portfolio Section -->
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Cafés Mauro
            <small>Todos Nuestros Cafés</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('listadoCategorias') }}">Categorías</a>
            </li>
            <li class="breadcrumb-item active">Cafés</li>
        </ol>
        {#Recorremos los datosCafes, que hemos enviado a la plantilla mediante el array llamado cafes, mediante un bucle for#}
        <div class="row">
            {% for cafe in datosCafes %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        {#El href va a redireccionar al path definido con name en el DefaultController, y se le pasa como parámetro
                        el id del café seleccionado para que redirecione a la plantilla cafes.html.twig con ese parámetro y muestre sus datos#}
                        {#fotosCafes es el parámetro global definido en el config.yml con la ruta a la carpeta img/fotosCafes
               a esto se le concatena los datos en string guardados en la ddbb del nombre de la foto en md5#}
                        <a href="{{ path('cafes',{'id':cafe.id}) }}"><img class="card-img-top"
                                                                          src={% if  cafe.foto|length>0 %}{{ asset(fotosCafes~cafe.foto) }}{% else %}"http://placehold.it/700x400"{% endif %}
                                                                          alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                {#Va a redireccionar tanto el nombre del café como su imagen#}
                                <a href="{{ path('cafes',{'id':cafe.id}) }}">{{ cafe.nombre }}</a>
                            </h4>
                            <p class="card-text">{{ cafe.caracteristicas|raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.container -->

        <!-- Paginacion -->
        {#La paginación se mostrará si el número de páginas es mayor que 1#}
        {#{{ dump(numTotalPaginas) }}#}
        {% if  numTotalPaginas>1 %}
            <ul class="pagination justify-content-center">
                {#Botón de Anterior#}
                {% if  paginaActual>1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path ('todosNuestrosCafes', {pagina:paginaActual-1<1?1:paginaActual-1} ) }}"
                           aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </li>
                {% endif %}
                {#Bucle que rellena el número de items con números de páginas de cafés top que hay, cada página con 3 elementos#}
                {% for indice in 1..numTotalPaginas %}
                    {% if indice==paginaActual %}
                        <li class="page-item">
                            <a class="page-link font-weight-bold"
                               href="{{ path ('todosNuestrosCafes', {pagina:indice} ) }}">{{ indice }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path ('todosNuestrosCafes', {pagina:indice} ) }}">{{ indice }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {#Boton Siguiente#}
                {% if  paginaActual<numTotalPaginas %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path ('todosNuestrosCafes', {pagina:paginaActual+1<=numTotalPaginas?paginaActual+1:paginaActual} ) }}"
                           aria-label="Siguiente">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
{% endblock %}