{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% block titulo %}Login Usuario {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    {#Sacado de la página about de la plantilla#}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Cafés Mauro
            <small>Login de usuario</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Login</li>
        </ol>
        <!-- Intro Content -->

        <div class="row">
            <div class="col-lg-6">
                {% for mensaje in app.session.flashbag.get('info') %}
                    <p class="info">{{ mensaje }}</p>
                {% endfor %}
                {# Mensaje de error que se muestra si no se pudo realizar el login #}
                {% if error %}
                    <h3>{{ error.messageKey|trans(error.messageData, 'security') }}</h3>
                {% endif %}
                <form action="{{ path('logado') }}" method="post">
                    {#Se añaden los div usados en cafeForm para encerrar los elementos input y darles diseño#}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="username">Usuario:</label>
                            {#A su vez se le añade a cada input la clase form-control #}
                            <input type="text" class="form-control" id="username" name="_username" placeholder="email"
                                   value="{{ last_username }}"/>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" placeholder="password" id="password" name="_password"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h3>¿Cómo registrarse?</h3>
                <p>Con el registro se podrán hacer reservas para nuestros cursos de café de una forma rápida y
                    sencilla</p>
                <p>Mediante la introducción del correo electrónico y la contraseña se podrá realizar una nueva reserva o
                    anulación de esta</p>
                <p>Si aún no te has registrado en la aplicación, haz click en el enlace de <a
                            href="{{ path('registro') }}"><strong>REGISTRO</strong></a></p>
            </div>
        </div>

    </div>
{% endblock %}