{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% block titulo %}Sobre Nosotros {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Cafés Mauro
            <small>Sobre Nosotros</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Nosotros</li>
        </ol>
        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{{ asset('img/nosotros.jpg') }}" alt="">
        <h2>Nuestro equipo</h2>
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    {#<h4 class="card-header">Equipo</h4>#}
                    <img src="{{ asset('img/gerencia.jpg') }}" width="348" alt="gerencia">
                    <div class="card-body">
                        <h4 class="card-title text-center">Gerencia</h4>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Los nietos del fundador</h6>
                        <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('nosotros',{'ruta':'gerencia'}) }}" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    {#<h4 class="card-header">Card Title</h4>#}
                    <img src="{{ asset('img/historia.jpg') }}" width="348" alt="historia">
                    <div class="card-body">
                        <h4 class="card-title text-center">Historia</h4>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Orígenes</h6>
                        <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium
                            molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('nosotros',{'ruta':'historia'}) }}" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    {#<h4 class="card-header">Card Title</h4>#}
                    <img src="{{ asset('img/equipo.jpg') }}" width="348" alt="equipo">
                    <div class="card-body">
                        <h4 class="card-title text-center">Equipo</h4>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Compras y Distribución</h6>
                        <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('nosotros',{'ruta':'equipo'}) }}" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}