{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{#Se usa el mismo template que definimos para los nuevos cafés#}
{% form_theme formularioUsuario 'form/cafeForm.html.twig' %}

{% block titulo %}Registro Usuario {% endblock %}

{# CONTENIDO #}
{% block contenido %}
    {#Sacado de la página about de la plantilla#}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3"> Cafés Mauro
            <small>Registro de usuario</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Registro</li>
        </ol>
        <!-- Intro Content -->

        <div class="row">
            <div class="col-lg-6">
                {{ form_start(formularioUsuario) }}
                {{ form_widget(formularioUsuario) }}
                {{ form_end(formularioUsuario) }}
            </div>
            <div class="col-lg-6">
                <h3>¿Ya estás registrado?</h3>
                <p>Si ya tienes una cuenta de usuario y quieres volver a la página previa no tienes más que pulsar en <a href="{{ path('logado') }}"><strong>LOGIN</strong></a></p>
                <h4>Advertencia Importante</h4>
                <p>Asegúrese de registrar un tlf de contacto válido, en caso de no poder contactar con usted para confirmar la reserva nos reservamos el derecho de cancelar esta.</p>
            </div>
        </div>

    </div>
{% endblock %}